.divtablero {
    background-color: white;
    max-width: 100%; 
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-Tablero {
   
    gap: 1rem;
    display: grid;
    margin-top: 150px;
    grid-template-columns: repeat(7, 7rem);
    grid-template-rows: repeat(3, 6rem);
    justify-content: center;
    align-items: center;
}

.carta {
    cursor: pointer;
    background-color: antiquewhite;
    font-size: 3rem;
    height: 90px;
    width: 90px;
    border: 1px solid black;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.5);
}
.marcado{
    background-color: red;
}
.carta:hover{
    border: 1px solid red;
    transition: 0.3;
}